In [1]:
import pyodbc
import sqlite3
import os.path
import sys
sys.path.append(r'/home/ernst/Projects/Prometheon/rest-api-azure')
# from numpy import product as npproduct
# from numpy import array as nparray
from datetime import datetime
from numpy import product as npproduct
from numpy import array as nparray
from project_config.config import (sql_parameter_tablename_dict,
                                  required_keys,
                                  base_rate,
                                  db_path,
                                  AZURE_SERVER,
                                  AZURE_USERNAME,
                                  AZURE_PASSWORD,
                                  AZURE_DATABASE,
                                  AZURE_PORT)

In [2]:
def query_azure(sql, values):
    driver= '{ODBC Driver 13 for SQL Server}'
    cnxn = pyodbc.connect((r"DRIVER={driver};PORT={port};SERVER={server};"
                           r"DATABASE={database};UID={username};PWD={password}").format(driver=driver,
                                                    port=AZURE_PORT,
                                                    server=AZURE_SERVER,
                                                    database=AZURE_DATABASE,
                                                    username=AZURE_USERNAME,
                                                    password=AZURE_PASSWORD))
    cursor = cnxn.cursor()
    try:
        # cursor.execute("SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'")
        cursor.execute(sql, values)
        rows = cursor.fetchall()
        columns = [column[0] for column in cursor.description]
        return(columns, rows)
    except Exception as e:
        print(e)
    finally: # Always executed, even in case of exception
        cnxn.close()

In [165]:
sql1 = 'SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE Reference_Data_ID > 1200 and  Reference_Data_ID < 1300 and Product_ID = 1'
sql2 = 'SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE Reference_Data_ID = 577 and Product_ID = 2'
sql3 = 'SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE Reference_Data_ID = ? and Product_ID = ?'

In [166]:
sql_unique = 'SELECT COUNT(1), Reference_Data_Type FROM [dbo].[Pricing_Param_Ref_Data] GROUP BY Reference_Data_Type'

In [167]:
columns, row = query_azure(sql_unique, [])

In [170]:
columns, row = query_azure(sql1, [])

In [171]:
columns

['Reference_Data_ID',
 'Product_ID',
 'Pricing_Parameter_Value',
 'Product_Description',
 'Pricing_Parameter_Type_ID',
 'Pricing_Parameter_Type_Name',
 'Pricing_Parameter_ID',
 'Pricing_Parameter_Name',
 'Reference_Data_Type',
 'Reference_Data_Name']

In [172]:
row

[(1201, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Chile'),
 (1202, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'China'),
 (1203, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Hong Kong, SAR China'),
 (1204, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Macao, SAR China'),
 (1205, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Christmas Island'),
 (1206, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Cocos (Keeling) Islands'),
 (1207, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Colombia'),
 (1208, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Comoros'),
 (1209, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Congo (Brazzaville)'),
 (1210, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Congo, (Kinshasa)'),
 (1211, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Cook Islands'),
 (1212, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Costa Rica'),
 (1213, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', "CÂ¶te d'Ivoire"),
 (1214, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Croatia'),
 (1215, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Cuba'),
 (1216, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Cyprus'),
 (1217, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Czech Republic'),
 (1218, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Denmark'),
 (1219, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Djibouti'),
 (1220, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Dominica'),
 (1221, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Dominican Republic'),
 (1222, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Ecuador'),
 (1223, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Egypt'),
 (1224, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'El Salvador'),
 (1225, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Equatorial Guinea'),
 (1226, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Eritrea'),
 (1227, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Estonia'),
 (1228, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Ethiopia'),
 (1229, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Falkland Islands (Malvinas)'),
 (1230, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Faroe Islands'),
 (1231, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Fiji'),
 (1232, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Finland'),
 (1233, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'France'),
 (1234, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'French Guiana'),
 (1235, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'French Polynesia'),
 (1236, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'French Southern Territories'),
 (1237, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Gabon'),
 (1238, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Gambia'),
 (1239, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Georgia'),
 (1240, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Germany'),
 (1241, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Ghana'),
 (1242, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Gibraltar'),
 (1243, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Greece'),
 (1244, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Greenland'),
 (1245, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Grenada'),
 (1246, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Guadeloupe'),
 (1247, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Guam'),
 (1248, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Guatemala'),
 (1249, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Guernsey'),
 (1250, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Guinea'),
 (1251, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Guinea-Bissau'),
 (1252, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Guyana'),
 (1253, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Haiti'),
 (1254, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Heard and Mcdonald Islands'),
 (1255, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Holy See (Vatican City State)'),
 (1256, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Honduras'),
 (1257, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Hungary'),
 (1258, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Iceland'),
 (1259, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'India'),
 (1260, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Indonesia'),
 (1261, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Iran, Islamic Republic of'),
 (1262, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Iraq'),
 (1263, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Ireland'),
 (1264, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Isle of Man'),
 (1265, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Israel'),
 (1266, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Italy'),
 (1267, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Jamaica'),
 (1268, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Japan'),
 (1269, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Jersey'),
 (1270, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Jordan'),
 (1271, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Kazakhstan'),
 (1272, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Kenya'),
 (1273, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Kiribati'),
 (1274, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Korea (North)'),
 (1275, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Korea (South)'),
 (1276, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Kuwait'),
 (1277, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Kyrgyzstan'),
 (1278, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Lao PDR'),
 (1279, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Latvia'),
 (1280, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Lebanon'),
 (1281, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Lesotho'),
 (1282, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Liberia'),
 (1283, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Libya'),
 (1284, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Liechtenstein'),
 (1285, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Lithuania'),
 (1286, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Luxembourg'),
 (1287, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Macedonia, Republic of'),
 (1288, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Madagascar'),
 (1289, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Malawi'),
 (1290, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Malaysia'),
 (1291, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Maldives'),
 (1292, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Mali'),
 (1293, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Malta'),
 (1294, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Marshall Islands'),
 (1295, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Martinique'),
 (1296, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Mauritania'),
 (1297, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Mauritius'),
 (1298, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Mayotte'),
 (1299, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Mexico')]

In [158]:
from project_config.config import (sql_parameter_tablename_dict,
                                  required_keys,
                                  base_rate,
                                  db_path,
                                  AZURE_SERVER,
                                  AZURE_USERNAME,
                                  AZURE_PASSWORD,
                                  AZURE_DATABASE,
                                  AZURE_PORT)
valid_pricing_parameter_type_names = ['country', 'airport', 'container type']

In [159]:
sql_parameter_tablename_dict.keys()

dict_keys(['airports', 'ground_handlers'])

In [160]:
driver= '{ODBC Driver 13 for SQL Server}'
def calculate_premium(premium_request):
    """
    :premium_request : a dictionary

    Looks into the database to search for the parameters, and appends the
    results to a DataFrame.
    Returns the quote amount, and a list of dictionaries with detailed info
    """
    ## Assert that all required keys to calculate a premium are provided
    for key in required_keys:
        assert key in premium_request.keys(), ('Aborting: key "{}" missing in '
                                            'request'.format(key))

    ## Get values from request: timestamp, amount insured, product_id
    # timestamp 
    try:
        # The following works when a list is given of [Y, M, D]
        timestamp = datetime(*premium_request['timestamp'])
    except:
        # When input is a string: 'yyyy-mm-dd'
        timestamp = datetime.strptime(premium_request['timestamp'], '%Y-%m-%d')
    
    # To filter valid_from/to (not implemented yet)
    timestamp_str = datetime.strftime(timestamp, '%Y-%m-%d')
        
    # product_id and amount 
    product_id = premium_request['product_id']
    sum_insured = premium_request['sum_insured']  
    
    # init the list that contains the elements that determine the premium
    quote_reply = [{'sum_insured': sum_insured,
                   'product_id': product_id,
                   'timestamp': timestamp_str}]

    # Loop through all items, to search for the "parameters"/premium multipliers
    for key, parameter_ids in premium_request.items():
        
        # Test if this is a key that requires a parameter lookup
        # if not, skip it
        if key in valid_pricing_parameter_type_names:
            sql = """ SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE 
                    Reference_Data_ID = ? and Product_ID = ?
                  """
            
            # Make database connection
            db_connection = pyodbc.connect((r"DRIVER={driver};PORT={port};SERVER={server};"
                           r"DATABASE={database};UID={username};PWD={password}").format(driver=driver,
                                                    port=AZURE_PORT,
                                                    server=AZURE_SERVER,
                                                    database=AZURE_DATABASE,
                                                    username=AZURE_USERNAME,
                                                    password=AZURE_PASSWORD))
            # Create database cursor
            cursor = db_connection.cursor()
            try:
                for parameter_id in parameter_ids:
                    vals = (parameter_id, product_id) #Timestamp not used yet!
                    cursor.execute(sql, vals)
                    
                    # fetch the result
                    columns = [column[0] for column in cursor.description]
                    
                    # find the index of the row where the Pricing Parameter Value is located
                    # NB: those strings should probably be in config
                    pricing_param_value_index = [i for i, col_name in enumerate(columns) 
                                       if col_name == 'Pricing_Parameter_Value'][0]
                    ref_data_name_index = [i for i, col_name in enumerate(columns) 
                                       if col_name == 'Reference_Data_Name'][0]
                    pricing_param_type_name_index = [i for i, col_name in enumerate(columns) 
                                       if col_name == 'Pricing_Parameter_Type_Name'][0] 
                    
                    # Get the values
                    row = cursor.fetchone()
                    pricing_param_value = row[pricing_param_value_index]  
                    ref_data_name = row[ref_data_name_index]  
                    pricing_param_type_name = row[pricing_param_type_name_index] 
                    
                    # Append dictionaries to the list


                    quote_reply.append({'type': key,
                                        'pricing_param_type_name': pricing_param_type_name,
                                        'pricing_param_value': pricing_param_value,
                                        'ref_data_name': ref_data_name})
            except Exception as e:
                print(e)
                return {'message': ('parameter_id {} for key {} for date'
                                '{} not found').format(
                                    parameter_id, key, timestamp_str)}
            finally:
                db_connection.close()
        else:
            continue # for clarity

    # Process the obtained data to calculate the premium
    parameters = [item['pricing_param_value'] for item in quote_reply if 'pricing_param_value' in item.keys() ]
    # Multiply all parameters
    parameters_product = 1
    for par in parameters:
        parameters_product *= par
    premium = (premium_request['sum_insured'] * base_rate * parameters_product)
    return (premium, quote_reply)

In [173]:
premium_request = { 'product_id': 1,
                    'sum_insured' : 360E3,
                    'container type' : [1147],
                    'airport' : [651, 652, 890],
                    'timestamp' : (2018, 1, 7),
                      'country': [1217]} #Y, M, D
premium, quote_request = calculate_premium(premium_request)

premium request: {'product_id': 1, 'sum_insured': 360000.0, 'container type': [1147], 'airport': [651, 652, 890], 'timestamp': (2018, 1, 7), 'country': [1217]}
------------------------
key: container type, parameter ids: [1147]
parameter id: 1147
sql:  SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE
                    Reference_Data_ID = ? and Product_ID = ?

vals: (1147, 1)
------------------------
key: airport, parameter ids: [651, 652, 890]
parameter id: 651
sql:  SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE
                    Reference_Data_ID = ? and Product_ID = ?

vals: (651, 1)
parameter id: 652
sql:  SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE
                    Reference_Data_ID = ? and Product_ID = ?

vals: (652, 1)
parameter id: 890
sql:  SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE
                    Reference_Data_ID = ? and Product_ID = ?

vals: (890, 1)
------------------------
key: country, parameter ids: [1217]
parameter id: 1217
sql:  SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE
                    Reference_Data_ID = ? and Product_ID = ?

vals: (1217, 1)

In [186]:
def tf():
    return 1

In [187]:
a = tf()

In [188]:
rr, rrr = a

TypeError: 'int' object is not iterable

In [185]:
rrr

2

In [38]:
for key, parameter_ids in premium_request.items():
    print(key, parameter_ids)

product_id 1
sum_insured 360000.0
ground_handlers [1, 5, 10]
airports [650, 652, 890]
timestamp (2018, 1, 7)

In [ ]:
p_0 =1
for par in parameters:
    p_0 *= par

In [ ]:
p_0

In [ ]:
print(premium)
print(quote_reply)

(1351, 2, 1.8, 'Freight insurance', 5, 'Country', 14, 'Medium risk', 'Country', 'Saudi Arabia'),

(1351, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Saudi Arabia')