In [1]:
import pyodbc
import sqlite3
import os.path
import sys
import pprint
sys.path.append(r'/home/ernst/Projects/Prometheon/rest-api-azure')
# from numpy import product as npproduct
# from numpy import array as nparray
from datetime import datetime
from numpy import product as npproduct
from numpy import array as nparray
from project_config.config import (sql_parameter_tablename_dict,
                                  required_keys,
                                  base_rate,
                                  db_path,
                                  AZURE_SERVER,
                                  AZURE_USERNAME,
                                  AZURE_PASSWORD,
                                  AZURE_DATABASE,
                                  AZURE_PORT)

In [2]:
def query_azure(sql, values):
    driver= '{ODBC Driver 13 for SQL Server}'
    cnxn = pyodbc.connect((r"DRIVER={driver};PORT={port};SERVER={server};"
                           r"DATABASE={database};UID={username};PWD={password}").format(driver=driver,
                                                    port=AZURE_PORT,
                                                    server=AZURE_SERVER,
                                                    database=AZURE_DATABASE,
                                                    username=AZURE_USERNAME,
                                                    password=AZURE_PASSWORD))
    cursor = cnxn.cursor()
    try:
        # cursor.execute("SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'")
        cursor.execute(sql, values)
        rows = cursor.fetchall()
        columns = [column[0] for column in cursor.description]
        return(columns, rows)
    except Exception as e:
        print(e)
    finally: # Always executed, even in case of exception
        cnxn.close()

In [3]:
sql1 = 'SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE Reference_Data_ID > 1200 and  Reference_Data_ID < 1300 and Product_ID = 1'
sql2 = 'SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE Reference_Data_ID = 577 and Product_ID = 2'
sql3 = 'SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE Reference_Data_ID = ? and Product_ID = ?'

In [4]:
sql_unique = 'SELECT COUNT(1), Reference_Data_Type FROM [dbo].[Pricing_Param_Ref_Data] GROUP BY Reference_Data_Type'

In [5]:
columns, row = query_azure(sql_unique, [])

In [6]:
columns, row = query_azure(sql1, [])

In [7]:
columns

['Reference_Data_ID',
 'Product_ID',
 'Pricing_Parameter_Value',
 'Product_Description',
 'Pricing_Parameter_Type_ID',
 'Pricing_Parameter_Type_Name',
 'Pricing_Parameter_ID',
 'Pricing_Parameter_Name',
 'Reference_Data_Type',
 'Reference_Data_Name',
 'Valid_From',
 'Valid_To']

In [8]:
row

[(1201, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Chile', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1202, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'China', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1203, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Hong Kong, SAR China', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1204, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Macao, SAR China', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1205, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Christmas Island', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1206, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Cocos (Keeling) Islands', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1207, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Colombia', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1208, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Comoros', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1209, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Congo (Brazzaville)', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1210, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Congo, (Kinshasa)', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1211, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Cook Islands', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1212, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Costa Rica', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1213, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', "C¶te d'Ivoire", datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1214, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Croatia', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1215, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Cuba', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1216, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Cyprus', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1217, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Czech Republic', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1218, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Denmark', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1219, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Djibouti', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1220, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Dominica', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1221, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Dominican Republic', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1222, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Ecuador', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1223, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Egypt', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1224, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'El Salvador', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1225, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Equatorial Guinea', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1226, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Eritrea', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1227, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Estonia', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1228, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Ethiopia', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1229, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Falkland Islands (Malvinas)', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1230, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Faroe Islands', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1231, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Fiji', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1232, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Finland', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1233, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'France', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1234, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'French Guiana', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1235, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'French Polynesia', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1236, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'French Southern Territories', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1237, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Gabon', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1238, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Gambia', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1239, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Georgia', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1240, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Germany', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1241, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Ghana', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1242, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Gibraltar', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1243, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Greece', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1244, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Greenland', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1245, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Grenada', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1246, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Guadeloupe', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1247, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Guam', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1248, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Guatemala', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1249, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Guernsey', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1250, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Guinea', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1251, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Guinea-Bissau', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1252, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Guyana', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1253, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Haiti', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1254, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Heard and Mcdonald Islands', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1255, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Holy See (Vatican City State)', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1256, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Honduras', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1257, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Hungary', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1258, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Iceland', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1259, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'India', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1260, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Indonesia', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1261, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Iran, Islamic Republic of', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1262, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Iraq', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1263, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Ireland', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1264, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Isle of Man', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1265, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Israel', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1266, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Italy', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1267, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Jamaica', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1268, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Japan', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1269, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Jersey', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1270, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Jordan', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1271, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Kazakhstan', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1272, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Kenya', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1273, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Kiribati', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1274, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Korea (North)', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1275, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Korea (South)', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1276, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Kuwait', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1277, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Kyrgyzstan', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1278, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Lao PDR', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1279, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Latvia', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1280, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Lebanon', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1281, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Lesotho', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1282, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Liberia', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1283, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Libya', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1284, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Liechtenstein', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1285, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Lithuania', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1286, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Luxembourg', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1287, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Macedonia, Republic of', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1288, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Madagascar', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1289, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Malawi', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1290, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Malaysia', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1291, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Maldives', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1292, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Mali', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1293, 1, 2.0, 'Temperature only', 5, 'Country', 23, 'High risk', 'Country', 'Malta', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1294, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Marshall Islands', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1295, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Martinique', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1296, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Mauritania', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1297, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Mauritius', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1298, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Mayotte', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31)),
 (1299, 1, 1.0, 'Temperature only', 5, 'Country', 5, 'Low risk', 'Country', 'Mexico', datetime.date(2018, 1, 1), datetime.date(9999, 12, 31))]

In [9]:
pricing_parameter_ref_keys = ['start_country',
                                      'end_country',
                                      'airport', 
                                      'container_type',
                                      'start_trucking_time',
                                      'end_trucking_time',
                                      'temperature_range'
                                      ]
pricing_parameter_bus_keys = ['forwarder',
                             'ground_handler']

In [10]:
sql_parameter_tablename_dict.keys()

dict_keys(['airports', 'ground_handlers'])

In [11]:
premium_request= {
  "sum_insured" : 360000,
  "product_id" : 1,
  "temperature_range" : 1405,
  "container_type": 1151,
  "forwarder" : 91,
  "start_trucking_time" : 1457,
  "start_country" : 1266,
  "airport" : "580, 647, 712",
  "ground_handler" : "10, 25, 58",
  "end_trucking_time" : 1455,
  "end_country" : 1293,
  "timestamp":"2018-01-28"
}

In [12]:
def query_azure(sql, vals):
    # Make database connection
    db_connection = pyodbc.connect((r"DRIVER={driver};PORT={port};SERVER={server};"
                           r"DATABASE={database};UID={username};PWD={password}").format(driver=driver,
                                                    port=AZURE_PORT,
                                                    server=AZURE_SERVER,
                                                    database=AZURE_DATABASE,
                                                    username=AZURE_USERNAME,
                                                    password=AZURE_PASSWORD))
    cursor = db_connection.cursor()
    try:
        # fetch the column names
        #print(sql)
        #print(vals)
        #print(cursor.description)
        # fetch the row
        cursor.execute(sql, vals)
        columns = [column[0] for column in cursor.description]          
        row = cursor.fetchone()    
        return columns, row
    except Exception as e:
        print(e)
    finally:
        db_connection.close()

In [77]:
def multi_query_azure(sql_list, vals_list):
    # columns_list, row_list = [], []
    # Make database connection
    db_connection = pyodbc.connect((r"DRIVER={driver};PORT={port};SERVER={server};"
                           r"DATABASE={database};UID={username};PWD={password}").format(driver=driver,
                                                    port=AZURE_PORT,
                                                    server=AZURE_SERVER,
                                                    database=AZURE_DATABASE,
                                                    username=AZURE_USERNAME,
                                                    password=AZURE_PASSWORD))
    cursor = db_connection.cursor()
    try:
        for sql, vals in zip(sql_list, vals_list):
            cursor.execute(sql, vals)
            columns = [column[0] for column in cursor.description]          
            row = cursor.fetchone()  
            #columns_list.append(columns)
            #row_list.append(row)
            yield (columns, row)
    except Exception as e:
        print('Error in multi_query_azure: \n')
        print(e)
    finally:
        db_connection.close()

In [108]:
## NEW
driver= '{ODBC Driver 13 for SQL Server}'
csv_list_keys = ['airport', 'ground_handler'] # keys for items that need unpacking

## Todo's:
# + filter on timestamp
# - get "other_parameters" (administration, fees, ..)
# + send sql and vals in a list, to open the db_connection only once, and execute the cursor many times
def calculate_premium(premium_request):
    """
    premium_request : a dictionary
    
    The contents of the request can be divided into two groups:
    1. elements that result in one parameter per element (multiplier for the premium)
      (airport, container_type, start_country, ....)
    2. general elements that in another way determine the premium or parameter values
      (sum_insured, timestamp, temperature_range, product_id)
    
    The first group of elements can be subdivided into:
    1.  a)  business partners.
            (forwarder, ground_handler)
        b)  other pricing parameters
            (airport, container_type, start_country, end_country, temperature_range,
            start_trucking_time, end_trucking_time)
    
    Other pricing parameters depend only on product_id
       (administration, taxes, fees, Base factor)
       
    This function calculates the premium using the following steps:
       - data transformations (comma-separated strings to list, string to date)
       - retrieving the elements in 2. (sum_insured, timestamp, ... etc)
       - iterate over the elements of 1.b to retrieve the parameters from the DB, and append parameters to list
       - iterate over the elements of 1.a to retrieve the parameters from the DB, and append parameters to list
       - iterate over the other_pricing_params (administration, fees, ) to retrieve those pricing parameters, 
         and append to another list
       - calculate the premium using all collected parameters 
       - depending on the request, return only the premium or the premium and the details 
         (or a message, in case of error)
 
    """
    # 0. Initializing/setting variables
    include_details = True if ('details' in premium_request) and \
        (premium_request['details'] == 1) else False

    # column names for the Pricing_Param_Ref_Data table
    param_colnames = ['Pricing_Parameter_Value', 'Reference_Data_Name', 
                        'Pricing_Parameter_Type_Name', 'Valid_From', 'Valid_To'] 
    
    # column names for the Pricing_Param_Bus_Partner table
    bus_colnames = ['Pricing_Parameter_Value', 'Business_Partner_Name', 
                        'Pricing_Parameter_Type_Name', 'Valid_From', 'Valid_To']    
    
    # 1. Data transformation and retrieving elements

    # split comma-separated strings, put into list
    for key in csv_list_keys:
        premium_request[key] = [int(r) for r in
            premium_request[key].split(',')]

    # timestamp. input is a string: 'yyyy-mm-dd'. do datetime
    timestamp = datetime.strptime(premium_request['timestamp'], '%Y-%m-%d')
    
    # to string (for reply)
    timestamp_str = datetime.strftime(timestamp, '%Y-%m-%d')
        
    # product_id and amount 
    product_id = premium_request['product_id']
    sum_insured = premium_request['sum_insured']  
    
    # put into dictionary
    quote_reply = {'sum_insured': sum_insured,
                   'product_id': product_id,
                   'timestamp': timestamp_str,
                    'parameter_list': []}       
    # 2. Iterate over elements of 1.b and 1.a to gather the "parameters"
    # (premium multipliers)
    # Loop through all items, append the sql-queries and the values to a list.
    # Those will be sent off all at once (to speed-up retrieval)
    sql_list, vals_list = [], []
    for key, parameter_ids in premium_request.items():
        
        # Make sure we can iterate over the parameter id's 
        # (if list, fine, else: make single-item list)
        if not type(parameter_ids) == list:
            parameter_ids = [parameter_ids]
        
        # Test if this is a key that requires a parameter lookup
        # if not, skip it
        if key in pricing_parameter_ref_keys:
            sql = """ SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE 
                    Reference_Data_ID = ? AND Product_ID = ? AND 
                    Valid_From <= ? AND Valid_To > ?
                  """

        elif key in pricing_parameter_bus_keys:
            sql = """ SELECT * FROM [dbo].[Pricing_Param_Bus_Partner] WHERE 
                    Business_Partner_ID = ? AND Product_ID = ? AND 
                    Valid_From <= ? AND Valid_To > ?
                  """            

        # when the key is one of the parameter keys, do the queries for the parameters
        if (key in pricing_parameter_ref_keys) or (key in pricing_parameter_bus_keys): 
            
            for parameter_id in parameter_ids:
                vals = (parameter_id, product_id, timestamp, timestamp) #Timestamp not used yet!
                sql_list.append(sql)
                vals_list.append(vals)
        else:
            continue # for clarity  
    
    # Send off the queries that are stored in the lists to the SQL server        
    for (columns, row) in multi_query_azure(sql_list, vals_list):

        # find the index of the row where the Pricing Parameter Value etc. is located
        try:
            pricing_param_value_index = [i for i, col_name in enumerate(columns) 
                               if col_name ==  param_colnames[0]][0]
            ref_data_name_index = [i for i, col_name in enumerate(columns) 
                               if col_name == param_colnames[1]][0]
            name_index = [i for i, col_name in enumerate(columns) 
                               if col_name == param_colnames[2]][0] 
            valid_from_index = [i for i, col_name in enumerate(columns) 
                               if col_name == param_colnames[3]][0] 
            valid_to_index = [i for i, col_name in enumerate(columns) 
                               if col_name == param_colnames[4]][0]             
        except:
            pricing_param_value_index = [i for i, col_name in enumerate(columns) 
                               if col_name == bus_colnames[0]][0]
            ref_data_name_index = [i for i, col_name in enumerate(columns) 
                               if col_name == bus_colnames[1]][0]
            name_index = [i for i, col_name in enumerate(columns) 
                               if col_name == bus_colnames[2]][0]                 
            valid_from_index = [i for i, col_name in enumerate(columns) 
                               if col_name == bus_colnames[3]][0] 
            valid_to_index = [i for i, col_name in enumerate(columns) 
                               if col_name == bus_colnames[4]][0] 
            
        # Get the values
        pricing_param_value = row[pricing_param_value_index]  
        ref_data_name = row[ref_data_name_index]  
        pricing_param_type_name = row[name_index] 
        valid_from = row[valid_from_index]
        valid_to = row[valid_to_index] 

    # Append to the list

        quote_reply['parameter_list'].append({'type': key,
                            'pricing_param_type_name': pricing_param_type_name,
                            'pricing_param_value': pricing_param_value,
                                'ref_data_name': ref_data_name,
                                'valid_from': valid_from,
                                'valid_to': valid_to})
        
    # Process the obtained data to calculate the premium
    parameters = [item['pricing_param_value'] for item in quote_reply['parameter_list'] 
                  if 'pricing_param_value' in item.keys() ]
    # Multiply all parameters
    parameters_product = 1
    for par in parameters:
        parameters_product *= par
        
    
    premium = (premium_request['sum_insured'] * base_rate * parameters_product)
    if include_details:
        return (premium, quote_reply)
    else:
        return premium

In [109]:
include_details

True

In [110]:
columns

['Reference_Data_ID',
 'Product_ID',
 'Pricing_Parameter_Value',
 'Product_Description',
 'Pricing_Parameter_Type_ID',
 'Pricing_Parameter_Type_Name',
 'Pricing_Parameter_ID',
 'Pricing_Parameter_Name',
 'Reference_Data_Type',
 'Reference_Data_Name',
 'Valid_From',
 'Valid_To']

In [111]:
premium_request= {
  "sum_insured" : 360000,
  "product_id" : 1,
  "temperature_range" : 1405,
  "container_type": 1151,
  "forwarder" : 91,
  "start_trucking_time" : 1457,
  "start_country" : 1266,
  "airport" : "580, 647, 712",
  "ground_handler" : "10, 25, 58",
  "end_trucking_time" : 1455,
  "end_country" : 1293,
  "timestamp":"2018-01-28",
  "details" : 1 
}
reply = calculate_premium(premium_request)
try:
    premium, quote_reply = reply
except TypeError as e:
    # If there is only a single return item, an error has occurred
    # Then, the tuple unpacking will fail (with a TypeError)
    # The error is communicated by a message
    message = reply

In [112]:
pprint.pprint(reply)

(1244.16,
 {'parameter_list': [{'pricing_param_type_name': 'Temperature Range',
                      'pricing_param_value': 0.8,
                      'ref_data_name': 'C 2°C to 8°C',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)},
                     {'pricing_param_type_name': 'Container Type',
                      'pricing_param_value': 1.2,
                      'ref_data_name': 'SkyCell 770C',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)},
                     {'pricing_param_type_name': 'Forwarder',
                      'pricing_param_value': 1.0,
                      'ref_data_name': 'Panalpina',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)},
                     {'pricing_param_type_name': 'Trucking Time',
                      'pricing_param_value': 1.0,
                      'ref_data_name': '4 Hours',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)},
                     {'pricing_param_type_name': 'Country',
                      'pricing_param_value': 1.0,
                      'ref_data_name': 'Italy',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)},
                     {'pricing_param_type_name': 'Airport',
                      'pricing_param_value': 1.0,
                      'ref_data_name': 'Halifax / Stanfield International '
                                       'Airport',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)},
                     {'pricing_param_type_name': 'Airport',
                      'pricing_param_value': 1.0,
                      'ref_data_name': 'Shannon Airport',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)},
                     {'pricing_param_type_name': 'Airport',
                      'pricing_param_value': 1.5,
                      'ref_data_name': 'Nashville International Airport',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)},
                     {'pricing_param_type_name': 'Ground Handler',
                      'pricing_param_value': 1.0,
                      'ref_data_name': 'Aeromexico Servicios',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)},
                     {'pricing_param_type_name': 'Ground Handler',
                      'pricing_param_value': 1.2,
                      'ref_data_name': 'Aviapartner',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)},
                     {'pricing_param_type_name': 'Ground Handler',
                      'pricing_param_value': 1.0,
                      'ref_data_name': 'Jet2',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)},
                     {'pricing_param_type_name': 'Trucking Time',
                      'pricing_param_value': 1.0,
                      'ref_data_name': '2 Hours',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)},
                     {'pricing_param_type_name': 'Country',
                      'pricing_param_value': 2.0,
                      'ref_data_name': 'Malta',
                      'type': 'details',
                      'valid_from': datetime.date(2018, 1, 1),
                      'valid_to': datetime.date(9999, 12, 31)}],
  'product_id': 1,
  'sum_insured': 360000,
  'timestamp': '2018-01-28'})

In [28]:


driver= '{ODBC Driver 13 for SQL Server}'
csv_list_keys = ['airport', 'ground_handler'] # keys for items that need unpacking

## Todo's:
# - filter on timestamp
# - get "other_parameters" (administration, fees, ..)
# - send sql and vals in a list, to open the db_connection only once, and execute the cursor many times
def calculate_premium(premium_request):
    """
    premium_request : a dictionary
    
    The contents of the request can be divided into two groups:
    1. elements that result in one parameter per element (multiplier for the premium)
      (airport, container_type, start_country, ....)
    2. general elements that in another way determine the premium or parameter values
      (sum_insured, timestamp, temperature_range, product_id)
    
    The first group of elements can be subdivided into:
    1.  a)  business partners.
            (forwarder, ground_handler)
        b)  other pricing parameters
            (airport, container_type, start_country, end_country, temperature_range,
            start_trucking_time, end_trucking_time)
    
    Other pricing parameters depend only on product_id
       (administration, taxes, fees, Base factor)
       
    This function calculates the premium using the following steps:
       - data transformations (comma-separated strings to list, string to date)
       - retrieving the elements in 2. (sum_insured, timestamp, ... etc)
       - iterate over the elements of 1.b to retrieve the parameters from the DB, and append parameters to list
       - iterate over the elements of 1.a to retrieve the parameters from the DB, and append parameters to list
       - iterate over the other_pricing_params (administration, fees, ) to retrieve those pricing parameters, 
         and append to another list
       - calculate the premium using all collected parameters 
       - depending on the request, return only the premium or the premium and the details 
         (or a message, in case of error)
 
    """
    # 0. Initializing/setting variables
    # init the list that contains the elements that determine the premium
 
    # 1. Data transformation and retrieving elements

    # split comma-separated strings, put into list
    for key in csv_list_keys:
        premium_request[key] = [int(r) for r in
            premium_request[key].split(',')]

    # timestamp. input is a string: 'yyyy-mm-dd'. do datetime
    timestamp = datetime.strptime(premium_request['timestamp'], '%Y-%m-%d')
    
    # to string (for reply)
    timestamp_str = datetime.strftime(timestamp, '%Y-%m-%d')
        
    # product_id and amount 
    product_id = premium_request['product_id']
    sum_insured = premium_request['sum_insured']  
    
    # put into dictionary
    quote_reply = {'sum_insured': sum_insured,
                   'product_id': product_id,
                   'timestamp': timestamp_str,
                    'parameter_list': []}       
    # 2. Iterate over elements of 1.b and 1.a
    # Loop through all items, to search for the "parameters"/premium multipliers
    for key, parameter_ids in premium_request.items():
        
        # Make sure we can iterate over the parameter id's 
        # (if list, fine, else: make single-item list)
        if not type(parameter_ids) == list:
            parameter_ids = [parameter_ids]
        
        # Test if this is a key that requires a parameter lookup
        # if not, skip it
        if key in pricing_parameter_ref_keys:
            sql = """ SELECT * FROM [dbo].[Pricing_Param_Ref_Data] WHERE 
                    Reference_Data_ID = ? and Product_ID = ?
                  """
            colnames = ['Pricing_Parameter_Value', 'Reference_Data_Name', 
                        'Pricing_Parameter_Type_Name']
        elif key in pricing_parameter_bus_keys:
            sql = """ SELECT * FROM [dbo].[Pricing_Param_Bus_Partner] WHERE 
                    Business_Partner_ID = ? and Product_ID = ?
                  """            
            colnames = ['Pricing_Parameter_Value', 'Business_Partner_Name', 
                        'Pricing_Parameter_Type_Name']
        # when the key is one of the parameter keys, do the queries for the parameters
        if (key in pricing_parameter_ref_keys) or (key in pricing_parameter_bus_keys): 
            
            for parameter_id in parameter_ids:
                vals = (parameter_id, product_id) #Timestamp not used yet!
                columns, row = query_azure(sql, vals)
                # print(columns)

                # find the index of the row where the Pricing Parameter Value is located
                # NB: those strings should probably be in config
                pricing_param_value_index = [i for i, col_name in enumerate(columns) 
                                   if col_name ==  colnames[0]][0]
                ref_data_name_index = [i for i, col_name in enumerate(columns) 
                                   if col_name == colnames[1]][0]
                name_index = [i for i, col_name in enumerate(columns) 
                                   if col_name == colnames[2]][0] 

                # Get the values
                pricing_param_value = row[pricing_param_value_index]  
                ref_data_name = row[ref_data_name_index]  
                pricing_param_type_name = row[name_index] 

                # Append to the list

                quote_reply['parameter_list'].append({'type': key,
                                    'pricing_param_type_name': pricing_param_type_name,
                                    'pricing_param_value': pricing_param_value,
                                    'ref_data_name': ref_data_name})

            
        else:
            continue # for clarity
    

    # Process the obtained data to calculate the premium
    parameters = [item['pricing_param_value'] for item in quote_reply['parameter_list'] 
                  if 'pricing_param_value' in item.keys() ]
    # Multiply all parameters
    parameters_product = 1
    for par in parameters:
        parameters_product *= par
    premium = (premium_request['sum_insured'] * base_rate * parameters_product)
    return (premium, quote_reply)

In [ ]:
a = tf()

In [ ]:
rr, rrr = a

In [ ]:
rrr

In [ ]:
for key, parameter_ids in premium_request.items():
    print(key, parameter_ids)

In [ ]:
p_0 =1
for par in parameters:
    p_0 *= par

In [ ]:
p_0

In [ ]:
print(premium)
print(quote_reply)

(1351, 2, 1.8, 'Freight insurance', 5, 'Country', 14, 'Medium risk', 'Country', 'Saudi Arabia'),

(1351, 1, 1.5, 'Temperature only', 5, 'Country', 14, 'Medium risk', 'Country', 'Saudi Arabia')